<a href="https://colab.research.google.com/github/theoutskirts767/data-science-blog-post/blob/main/Titanic_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import the pandas library for data manipulation
import pandas as pd

# Create a dictionary to hold the data for a few passengers
data = {
    'Name': [
        'Allen, Miss. Elisabeth Walton',
        'Allison, Mr. Hudson Joshua Creighton',
        'Boulton, Dr. William',
        'Collyer, Mr. John',
        'Fortune, Miss. Alice',
        'Panula, Mr. Eino',
        'Rice, Master. George'
    ],
    'Sex': [
        'female',
        'male',
        'male',
        'male',
        'female',
        'male',
        'male'
    ],
    'Age': [
        29.0,
        30.0,
        33.0,
        8.0,
        24.0,
        14.0,
        8.0
    ],
    'Survived': [
        1,  # 1 indicates survived
        0,  # 0 indicates did not survive
        1,
        0,
        1,
        0,
        0
    ]
}

# Create the DataFrame using the dictionary
df = pd.DataFrame(data)

# Display the DataFrame
print("Titanic Survivors and Non-Survivors Dataset:")
print(df)

# You can now perform various operations on this DataFrame.
# For example, to see how many people survived:
print("\nSurvival Count:")
print(df['Survived'].value_counts())

Titanic Survivors and Non-Survivors Dataset:
                                   Name     Sex   Age  Survived
0         Allen, Miss. Elisabeth Walton  female  29.0         1
1  Allison, Mr. Hudson Joshua Creighton    male  30.0         0
2                  Boulton, Dr. William    male  33.0         1
3                     Collyer, Mr. John    male   8.0         0
4                  Fortune, Miss. Alice  female  24.0         1
5                      Panula, Mr. Eino    male  14.0         0
6                  Rice, Master. George    male   8.0         0

Survival Count:
Survived
0    4
1    3
Name: count, dtype: int64